/* DESIGN BY DANIEL */
/* html {
  font-family: 'Saira Semi Condensed', sans-serif;
   min-height: 100%;
  margin: 0 auto;
  
}
body{
  margin: 0 auto;
  align-items: center;
  background-image: radial-gradient( circle farthest-corner at 8.6% 21.8%,  rgba(231,0,0,1) 0%, rgba(122,0,0,1) 90.1% );
background-repeat: no-repeat;
background-size: 100%;
  color: white;
  height: 100%;
  overflow: hidden;
}
body h2{
  text-align: center;
  font-size: 1.5rem;
  
}

.header{
   width: 100%;
    font-size: 1.5rem;
    background: rgba(0, 0, 0, 0.849);
    display:block;
}
.logo{
    padding: 15px;
    
  
}
.nav-items{
  
    align-items:center ;
    display: flex;
    gap: 5rem;
  margin-left: 5rem;
  
}
.nav{
  
   position: absolute;
    width: 60%;
    padding: 1rem;
    margin-left: 20rem;
  

}
.nav ul li{
  
    list-style: none;
}
.nav ul{
    display: flex;
    gap: 5rem;
}
.nav a{
 
    color: white;
    font-size: 15px;
    text-decoration: none;

}
form {
  margin-left: 10%;
  width: 30%;
  color: white;
  background: rgba(0, 0, 0, 0.849);
  border-radius: 30px;
  box-shadow: 2px 2px; */
/*   padding: 2rem 2.5rem;
  margin-top: 5rem;
}
.form_item{
  margin-top: 15px;
}

label{
  font-size: 1.2rem;
}
input{
  width: 70%;
  font-size: 1rem;
  padding: 10px 20px;
  border-radius: 20px;
  border-color: white ;
  color: #D9322E;
  font-family: 'Saira Semi Condensed', sans-serif;
}
input :hover{
  border: 2px
  border-color: #D9322E;
  
  
}
input .mess_box{
  height: 60%; 
  width: 90%;
}

img{
 position: absolute;
  width: 90% ;
  top: 0;
  z-index: -30;
  margin-left: 20rem;
 
  
}

 */

/* ------------------------------- */
/* SECOND DESIGN BY TOYIN */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
:root{
    --poppins: 'Poppins', sans-serif;
    --Very-Pale-Cyan: hsl(193, 100%, 96%);
    --Very-Dark-Cyan: hsl(192, 100%, 9%);
    --Grayish-Blue: hsl(208, 11%, 55%);
    --Pink:hsl(322, 100%, 66%);
    --Red: hsl(0, 100%, 74%);
    --Green:hsl(154, 59%, 51%);
    --Dark-Blue: hsl(249, 10%, 26%); 
    --Grayish-Blue: hsl(246, 25%, 77%);
    --Blue: hsl(248, 32%, 49%);
}
body{
    background-color:hsl(0, 100%, 74%);
    background-image:url( "/images/background.png");
    margin: 1em;
}

h2{
    font-family: var(--poppins);
    color: var(--Very-Pale-Cyan);
    text-align: center;
    margin: auto;
    margin-top: 4em;
    min-width:90%;
}
#grid2{
    /* position: relative; */
    background-color:white;
    padding: 1em;
    border-radius: 10px;
    margin-top: 3em;
}
#container > #grid2 > form > input{
    width: 100%;
    padding: 1em;
    margin-bottom: 1em;
    border: 1px solid var(--Grayish-Blue);
 
}

#container > #grid2 > form > #input-logo > input{
    width: 100%;
    padding: 1em;
    margin-bottom: 1em;
    border: 1px solid var(--Grayish-Blue);
 
}
#container > #grid2 > form > input:hover{
    border: 2px solid var(--Blue);
}
#container > #grid2 > form >#input-logo > input:hover{
    border: 2px solid var(--Blue);
}
/* #container > #grid2 > form > #input-logo > #tele{
    position: relative;
} */
#container > #grid2 > form > button{
    width: 100%;
    padding: 1em;   
    font-family:var(--poppins);
   background-color: var(--Blue);
   color: white;
   border-radius: 10px;
}
::placeholder{
    color: var(---Grayish-Blue);
    font-family:var(--poppins);
    font-weight: bold;
}
#input-logo{
    position: relative;
}
#tele-label{
    position: absolute;
    top: 0.5em;
    right: 2em;
    background-size: 100% 100%;
    width: 30px;
    height: 30px;
}

@media (min-width:900px){
body{
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
}
 #container{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    grid-gap:5em;
 }
 #grid1{
  margin-top:5em;
 }
}


